In [38]:
import pandas as pd
import dataframe_image as dfi

Chinese=[90,80]
Korean=[80,70]
Japanese=[70,60]

data=pd.DataFrame([Chinese,Korean,Japanese]).transpose()
data.columns=['Chinese','Korean','Japanese']
data.index=['Male','Female']

In [41]:
data

        Chinese  Korean  Japanese
Male         90      80        70
Female       80      70        60

In [23]:
x,y=[],[]
for i,j in data.iterrows():
    x.append(i)
    y.append(j)

In [24]:
x

['Male', 'Female']

In [29]:
y

[Chinese     90
 Korean      80
 Japanese    70
 Name: Male, dtype: int64,
 Chinese     80
 Korean      70
 Japanese    60
 Name: Female, dtype: int64]

In [46]:
c,u=[],[]
for col,col_value in y[0].iteritems():
    c.append(col)
    u.append(col_value)

In [47]:
c

['Chinese', 'Korean', 'Japanese']

In [48]:
u

[90, 80, 70]

In [63]:
iterdata=[]
for row,row_details in data.iterrows():
    for col,value in row_details.iteritems():
        iterdata.append(row+"'s "+col+' mean score is '+str(value))

In [64]:
iterdata

["Male's Chinese mean score is 90",
 "Male's Korean mean score is 80",
 "Male's Japanese mean score is 70",
 "Female's Chinese mean score is 80",
 "Female's Korean mean score is 70",
 "Female's Japanese mean score is 60"]